includeConfig 'conf/base.config'
profiles {
  local { process.executor = 'local' }
  docker {
    docker.enabled = true
    docker.runOptions = "-v ${projectDir}:${projectDir}"
  }
  slurm { includeConfig 'conf/slurm.config' }
  awsbatch { includeConfig 'conf/awsbatch.config' }
  test { process.cpus = 1; process.memory = '2 GB'; process.time = '10m' }
}
trace.enabled = true
timeline.enabled = true
report.enabled = true
dag.enabled = true
